<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tienda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!--Barra de navegacion -->
    @Html.Partial("_BarraNavegacion");

    <!--Contenido Principal-->
    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />

    <!--Pie de pagina-->
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi Proyecto Tienda ASP.NET</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
