@model IEnumerable<Tienda.Models.Proveedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive bg-light p-5 rounded">
    <h3>Proveedores</h3>

    <!--Acciones -->
    @Html.ActionLink("Nuevo Proveedor", "Formulario", null, new { @class = "btn btn-primary", role = "button" })

    <!--Buscador-->
    <form class="d-inline-flex p-2">
        @using (Html.BeginForm("Busqueda", "Proveedores", FormMethod.Get))
        {

            @Html.TextBox("txtBusqueda", null, new { @class = "form-control me-2", placeholder = "Buscar", type = "search" })
            <input type="submit" value="Buscar" class="btn btn-outline-success" />
        }
    </form>

    <!--Contenido (table)-->
    <table class="table table-striped" style="width:100%">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rfc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaginaWeb)
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rfc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaginaWeb)
                    </td>
                    <td>
                        @Html.ActionLink("Ver", "Detalles", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm", role = "button" })

                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>