@model Tienda.Models.Categoria

@{
    ViewBag.Title = "Formulario Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="card card-body m-3 g-3 w-auto">
    <h4>Categoria: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="row g-3 mb-3 w-auto">
        <div class="col-md-3">
            <img src="~/Content/img/categoria.jpg" class="card-img-top" alt="..." />
        </div>
        <div class="col-md-8">
            <div class="col-md-auto w-auto">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-primary", role = "button" })
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
